---
layout: default
title: Projects
permalink: /projects/
---

<head>
  <link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}">
</head>

<div class="container">
  <h2>Current Projects</h2>
    <div class="projects-grid">
    {% for project in site.projects %}
      {% if project.status == "current" and project.icon %}
        <a href="{{ project.url }}" class="project-link">
          <div class="project-item">
            <img src="{{ project.icon }}" alt="{{ project.title }} icon" class="project-icon">
            <div class="project-content">
              <h3>{{ project.title }}</h3>
              <p>{{ project.description }}</p>
              <div class="project-tags">
                {% for tag in project.tags %}
                  <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

  <h2>Previous Projects</h2>
    <div class="projects-grid">
    {% for project in site.projects %}
      {% if project.status == "current" and project.icon %}
        <a href="{{ project.url }}" class="project-link">
          <div class="project-item">
            <img src="{{ project.icon }}" alt="{{ project.title }} icon" class="project-icon">
            <div class="project-content">
              <h3>{{ project.title }}</h3>
              <p>{{ project.description }}</p>
              <div class="project-tags">
                {% for tag in project.tags %}
                  <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
