---
layout: default
title: Resume
permalink: /resume/
---

<head>
  <link rel="stylesheet" href="{{ '/assets/css/resume.css' | relative_url }}">
</head>

<body>
  <div class="timeline-header">
    <h2 class="left-title">Education</h2>
    <h2 class="right-title">Work Experience</h2>
  </div>
  <div class="timeline-container">
    <div class="timeline">
      <div class="timeline-segments"></div>
      <div class="timeline-left">
        {% for entry in site.data.education %}
          <div class="timeline-entry education" data-start="{{ entry.start }}" data-end="{{ entry.end }}">
            <h3>{{ entry.title }}</h3>
            <dialog class="timeline-dialog">
              <div>
                <button class="close-dialog">&times;</button>
                <div class="dates">{{ entry.start }} - {{ entry.end }}</div>
                <div class="details">{{ entry.institution }}</div>
              </div>
            </dialog>
          </div>
        {% endfor %}
      </div>
      <div class="timeline-right">
        {% for entry in site.data.work %}
          <div class="timeline-entry work" data-start="{{ entry.start }}" data-end="{{ entry.end }}">
            <h3>{{ entry.title }}</h3>
            <dialog class="timeline-dialog">
              <div>
                <button class="close-dialog">&times;</button>
                <div class="dates">{{ entry.start }} - {{ entry.end }}</div>
                <div class="details">{{ entry.institution }}</div>
              </div>
            </dialog>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <script src="{{ '/assets/js/resume.js' | relative_url }}"></script>
</body>